<header>
    <h1>Bem Vindo ao Projeto de Rotas</h1>
    <nav>
        <ul>
            <li><a href='/'>Inicio</a></li>
        </ul>
        <ul>
            <li><a href="/about">Sobre</a></li>
        </ul>
    </nav>
    <p>Observer a mudanca da rota no cabecalho do site</p>

</header>

<section>
    <h3>Exemplo ...</h3>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in dui scelerisque, porta velit vel,
            finibus massa. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Sed rutrum quam eu accumsan blandit. Ut vitae nulla justo. Integer pharetra, enim a
            faucibus imperdiet, nisi leo vestibulum sapien, eu porta turpis tortor ac nulla. Duis imperdiet justo a
            purus porta, et porta ligula suscipit. Mauris non enim non nibh pharetra convallis ut id dolor. Vestibulum
            iaculis in risus id congue. Suspendisse ullamcorper, massa et pharetra cursus, justo felis fringilla urna,
            sed vehicula lorem dolor sodales arcu. Duis et arcu gravida, facilisis felis at, pretium tellus. Duis mollis
            nisi eget metus porta, sed varius velit viverra. Aliquam pharetra augue maximus cursus blandit. Nunc non
            eros nunc.</p>
    </div>
</section>
